{% extends 'knp_menu.html.twig' %}

{% block list %}
    {% from 'knp_menu.html.twig' import attributes as knp_attributes %}
    {% if item.isRoot and item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}
        <ul{{ knp_attributes(listAttributes) }}>
            {{ block('children') }}
        </ul>
    {% elseif item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}
        <div>
            <ul{{ knp_attributes(listAttributes) }}>
                {{ block('children') }}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block linkElement %}
    {% from 'knp_menu.html.twig' import attributes as knp_attributes %}
    <a href="{{ item.uri }}"{{ knp_attributes(item.linkAttributes) }}><span>{{ block('label') }}</span></a>
{% endblock %}

