{% import "EventFlowAnalyser:Tools:macros.html.twig" as macros %}
{% extends "EventFlowAnalyser::layout.html.twig" %}

{% block title "UCS Event Flow Analyser: All Events" %}

{% block article %}
<article>
    <div class="row-fluid">
        <div class="accordion" id="accordion1">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#events">
                        Events
                    </a>
                </div>
                <div id="events" class="accordion-body collapse out">
                    <div class="accordion-inner">
                        <div class="span5 offset1">
                        {% if ((events|length) > 10) %}
                            {{ macros.display_events(events, project.name, 0,(events|length)/2) }}
                        </div>
                        <div class="span5">
                            {{ macros.display_events(events, project.name, (events|length)/2, events|length) }}
                        {% else %}
                            {{ macros.display_events(events, project.name, 0, events|length) }}
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#graph">
                        Graph
                    </a>
                </div>
                <div id="graph" class="accordion-body collapse in">
                    <div class="accordion-inner" style="height:300px">
                    <a
                        rel="tooltip-left" 
                        title="open {{ project.name|title }} with Zoom and Pan"  
                        href="graph/{{ project.name }}"
                        class="btn btn-mini btn-primary" 
                        style="float:right"><i class="icon-fullscreen icon-white"></i></a>
                    <img src="{{ graph }}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
{% endblock %}
