{% import "UcsEventFlowAnalyser:Tools:macros.html.twig" as macros %}
{% extends "UcsEventFlowAnalyser::layout.html.twig" %}

{% block title "UCS Event Flow Analyser: Event {{ name }}" %}

{% macro display_documents(title, documents) %}
        <div class="span5 offset1">
            <h4 class="center">{{ title|title }}</h4>
            <ul class="unstyled">
            {% for document in documents %}
                <li>
                    <i class="icon-chevron-right"></i> 
                        <a  rel="popup" 
                            title="{{ document.name|title }}"  
                            href="{{ asset(document.uri) }}">
                            {{ document.name|title }}
                        </a>
                </li>
            {% endfor %}
            </ul>
        </div>
{% endmacro display_documents %}

{% block article %}
<article xmlns="http://www.w3.org/1999/html">
    <div class="row-fluid">
        {{ macros.display_events(parents, "parent", visibility, name) }}
        {{ macros.display_events(children, "children", visibility, name) }}
    </div>
    <hr/>
    <div class="row-fluid">
        {{ _self.display_documents("input", input) }}
        {{ _self.display_documents("output", output) }}
    <hr/>
    {{ macros.modal_xml() }}
</article>
{% endblock %}
