{% extends "UcsEventFlowAnalyser::layout.html.twig" %}

{% block title "UCS Event Flow Analyser: All Events" %}

{% block article %}
    <article>
        {% if files|length > 0 %}
            {% for  visibility, softs in files %}
                <h1>{{ visibility }}</h1>
                {% if softs|length > 0 %}
                    <ul class="unstyled">
                        {% for  soft, values in softs %}
                            <li><h2>{{ soft|e }}</h2></li>
                            {% if values|length > 0 %}
                                <ul class="unstyled">
                                    {% for  file in values %}
                                        <li><i class="icon-file"></i>{{ file|e }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p class="text-warning"><i class="icon-warning-sign"></i>No files for the {{ soft }}.</p>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="text-info"><i class="icon-warning-sign"></i> No softs for the {{ visibility }} area.</p>
                {% endif %}
            {% endfor %}
        {% else %}
            <p class="text-info"><i class="icon-warning-sign"></i>Nothing to show.</p>
        {% endif %}
    </article>
{% endblock %}
