{% extends "UcsEventFlowAnalyserBundle::layout.html.twig" %}

{% macro display_events(events, title, use, soft) %}
    <div class="span5 offset1">
        <h4 class="center">{{ title }} ({{ events|length|e }})</h4>
        <ul class="unstyled">
            {% if events|length > 0 %}
                {% for event in events %}
                    <li>
                        <a href="{{ asset('/events/event/' ~ use ~ '/' ~ soft ~ '/' ~ event.event.type) }}">
                            <i class="icon-chevron-right">
                                {{ event.event.type|slice(14)|e }}
                            </i>
                        </a>
                    </li>
                {% endfor %}
            {% else %}
                none
            {% endif %}
        </ul>
    </div>
{% endmacro display_events %}

{% block title "UCS Event Flow Analyser: All Events" %}

{% block article %}
    <article xmlns="http://www.w3.org/1999/html">
        <div class="row-fluid">
            {{ _self.display_events(parents, "parent", use, soft) }}
            {{ _self.display_events(children, "children", use, soft) }}
        </div>
        <hr/>
        <div class="row-fluid">
            <div class="span5 offset1">
                <h4 class="center">input</h4>
                <ul class="unstyled">
                    {% for file in files %}
                        {% if ( "in" == file.direction ) %}
                            <li>
                                <i class="icon-chevron-right">{{ file.name|e }}</i>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="span5 offset1">
                <h4 class="center">output</h4>
                <ul class="unstyled">
                    {% for file in files %}
                        {% if ( "out" == file.direction ) %}
                            <li>
                                <i class="icon-chevron-right">{{ file.name|e }}</i>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <hr/>
        </div>

    </article>
{% endblock %}
